@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900&subset=latin,latin-ext);

html, body {
    font-family: 'Lato', 'ＭＳ Ｐ明朝', sans-serif;
}

hr {
    width: 50%;
    border-top: 1px solid #a4a4a4;
}

a {
    text-decoration: none;
}

.heavy_color {
	background-color: #5d80ff;
	color: white;
}

.heavy_color a {
	color: #e8e9ff;
}

.light_color {
	background-color: #e8e9ff;
}

.white {
	background-color: white;
}

.display-tablet {
	display: none;
}

@media screen 
and (min-width: 768px) {
	.display-tablet {
		display: block;
	}
}